PORT=8843
APP_FQDN=lirc.example.com
ADMIN_USER=admin
PROTECTED_PAGE_SECRET='ce287cfce8bd11e7ba96d746a6e2ce6e'
LIRCDO_PAGE_SECRET='1840216ee8be11e7b124e36493f1a3ef'
SESSION_SECRET='73abf97ee8c811e79bd35bb4b7a148ff'
LIRCSCRIPTS_LOCATION='./lircscripts'
PAIR_MODE=true
TEST_MODE=false
